@model IEnumerable<ParkingControl.Domain.DTOs.TarifaDTO>

@{
    ViewData["Title"] = "Tarifas";
}

<div class="card rounded shadow-sm p-3">
    <div class="d-flex justify-content-between mb-3">
        <div class="align-items-end flex-column">
            <form asp-action="Search">
                <div class="input-group ms-auto">
                    <div class="input-group-prepended">
                        <input name="tarifa" type="text" class="form-control" placeholder="">
                    </div>
                    <button type="submit" class="btn btn-outline-primary">Buscar tarifa</button>
                </div>
            </form>
        </div>
        <a onclick="create()" class="btn btn-outline-success">Marcar Entrada</a>
    </div>

    <div>
        <span>
            @foreach (var v in Model)
            {
                @if (!string.IsNullOrEmpty(v.Mensagem))
                {
                    <div class="@v.ClasseTipoAlerta" role="alert">
                        <p>@v.Mensagem</p>
                    </div>
                }
            }
        </span>
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr class="text-center">
                <th>@Html.DisplayNameFor(model => model.dataInicioVigencia)</th>
                <th>@Html.DisplayNameFor(model => model.dataFimVigencia)</th>
                <th>@Html.DisplayNameFor(model => model.preco)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in Model)
            {
                <tr onclick="edit(@v.id)" class="linha-tabela text-center">
                    <td>@Html.DisplayFor(modelItem => v.dataInicioVigencia)</td>
                    <td>@Html.DisplayFor(modelItem => v.dataFimVigencia)</td>
                    <td>@Html.DisplayFor(modelItem => v.preco)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal" id="modal" tabindex="-1"></div>

@section scripts {
    <script>
        const edit = (id) => {
            $('#modal').load(`@Url.Action("Edit")/${id}`, () => {
                $('#modal').modal('show');
            })
        }

        const create = () => {
            $('#modal').load(`@Url.Action("Create")`, () => {
                $('#modal').modal('show');
            })
        }
    </script>
}